{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ product.name }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
               {% if product.photo %}
                     <img src="{{ product.photo.url }}" class="card-img-top" alt="{{ product.name }}">
               {% else %}
                   <img src="{% static 'pictures/Pa2E3TtXqHKCUDAumY.jpg' %}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <p><b>Category:</b> {{ product.get_category_display }}</p>
        <p><b>Description:</b> {{ product.description }}</p>
        <p><a href="{% url 'reporter:product_update' product.pk %}" class="btn btn-primary">Update</a></p>
        <p><a href="{% url 'reporter:product_delete' product.pk %}" class="btn btn-danger">Delete</a></p>
    </div>
{% endblock %}